<div class="fixed top-0 bg-base-200/95 z-30 w-full" id="topbar">
  <div class="mx-5 flex h-16 items-center justify-between mx-auto max-w-2xl px-8 py-6">
    <div class="flex items-center">
      <a class="text-lg md:text-2xl" href="/">
        <span class="inline-flex font-serif">
          poes <i>í</i>a. </span>
      </a>
    </div>
  </div>
</div>
